<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="The history of the Ramblin' Reck">
    <meta name="author" content="Ramblin' Reck Club">

    <title>{{ page.title }} | Ramblin' Reck Club | Spreading Joy since 1930</title>

    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/timeline.css" | prepend: site.baseurl }}">
</head>
